
@font-face {
    font-family: 'RoyalSignage';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/RoyalSignage-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'DIN-Condensed';
    font-style: Bold;
    font-weight: 400;
    src: url('/fonts/DIN-Condensed-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Times-Sans-Serif';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Times-Sans-Serif.ttf') format('truetype');
}

